:root{
    --color: #000000E0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color);
    font-family: -apple-system, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.i-am-background {
    background-image: url(/images/background/header_background.jpeg);
    height: 1080px;
    display: flow-root;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#nav {
    position: sticky;
    top: 15px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding-bottom: 5px;
    margin-bottom: 40px;
    background-color: transparent;
}

.items {
    width: 18%;
    display: flex;
    padding-top: 8px;
    justify-content: space-between;
    font-size: 14px;
}

.options {
    text-decoration: none;
    color: var(--color);
}

.options:hover {
    color: red;
    border-bottom: 2px solid rgb(211, 5, 5);
}

.hero {
    display: flex;
    flex-direction: column;
    max-width: 792px;
    margin: auto;
    text-align: center;
    gap: 20px;
}

.first {
    font-size: 30px;
    font-weight: 300;
}

.second {
    font-size: 55px;
    font-weight: 200;
}

.third {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.i-am-button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #c31717;
    color: bisque;
    border: 1px solid #c31717;
    border-radius: 10px;
    margin-bottom: 40px;
}

.i-am-button:hover {
    background-color: #8a0909;
}

.video-content {
    border: 3px solid rgb(172, 172, 172);
    margin-bottom: 100px;
}

/* <----------------------------------------------------i-am-middle----------------------------------------->*/
.i-am-middle-background {
    background: url(/images/background/how_it_work_background.jpeg);
    height: 2200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.medium{
    max-width: 1024px;
    margin:auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.child-one{
    margin-top:15%;;
    font-size: 30px;
    font-weight: 300;
}

.child-two{
    font-size: 55px;
    font-weight: 300;
}

.child-three{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.icon-items{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border:solid 1px #efefeb;   
    height: 90px;
    margin: 30px;
    
}
.how_it_work_main_image{
    height: 550px;
    width:900px;
    margin:50px 0px 50px 0px;

}

.three{
    display: flex;
    justify-content: center;
}
.three-items-one{
    display: flex;
    flex-direction:column;
    height: 300px;
    width: 225px;
    background-color: #FFFFFF;
    margin: 20px;
    justify-content: center;
    padding-bottom: 30px;
    border:1px solid #efefeb; 
}

.three-items{
    height: 245px;
    width:auto;
    margin: 20px;
}

.three-p{
    font-size: 25px;
    font-weight: 300;
}
.article{
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
}

.no-background{
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: auto;
    text-align: center;
    margin-top: 150px;
}

.no-background-first{
    font-size: 1.8rem;
    font-weight: 300;
}

.no-background-second{
    font-size: 55px;
    font-weight: 300;
}

.left-right{
    display: flex;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
}

.hero-hero3{
    position: relative;
    margin-right: 500px;
}

.bottom{
    position: absolute;
    width:455px;
    height: 300px;
}

.top{
    position: absolute;
    margin:205px 0px 0px 75px;
    width: 315px;
    height: 200px;
}

.right-h2{
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 15px;
}

.right-h3{
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom:15px ;
}

.right-p{
    font-size: 20px;
    font-weight: 200;
    line-height:30px ;
}

.hero-right-text{
   margin-left: 100px;
}

.left-content-right-image{
    display: flex;
    max-width: 1000px;
    margin: auto;
}

.i-am-content-left{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.left-h1{
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 30px;
}

.left-h2{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 30px;
}

.i-am-content-image-right{
    height: 700px;
    width: 500px;
    margin-left: 50px;
    margin-bottom: 70px;
}

.i-am-list-items{
    display: flex;
    flex-direction:row;
    align-items: center;   
}

.i-am-three-images{
    height: 40px;
    width:40px;

}

.i-am-small-content{
    font-size: 14px;
    font-weight: 300;
}

/*--------------------------------------laptop-screen-and-hand----------------------*/
.laptop-screen-and-hand{
    max-width: 1000px;
    margin: auto;
    display: flex;
}

.why-three-image{
    height:500px;
    width:400px;
    margin-right: 150px;
}

.i-am-boss{
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 30px;
   justify-content: space-between;
}

.i-face-paragrapa{
    display: flex;
    align-items: center;
}

.we-are-four{
    height: 40;
    width: 40px;
}

.laptop-screen-and-hand-h1{
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 30px;
}

.laptop-screen-and-hand-p{
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 30px;
}

.we-are-four-paragraph{
    font-size: 14px;
    font-weight: 300;
}

.features{
    background-image: url(/images/background/feature_background.jpeg);
    height: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flow-root;
}

.features-top{
    margin-top: 50px;
    font-size: 40px;
    font-weight: 300;
    margin-bottom:30px;
}

.features-second{
    font-size: 50px;
    font-weight: 300;
    margin-bottom:30px;
    text-align: center;
}

.features-third{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.inside-features{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-image{
    width: 100%;
    height: auto;
    display: block;
}

.feature-big-wall{
    margin-bottom: 100px;
}

/*--------------------------------------contact-adnepal---------------------------------*/

.i-want-in-center{
    text-align: center;
}
.contact-us{
    max-width: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact-us-h1{
    font-size: 70px;
    font-weight: 300;
}

.contact-us-p{
    font-size: 25px;
    font-weight: 300;
}

#i-am-first-p, #i-am-second-p, #i-am-third-p, #i-am-fourth-p{
    font-size: 16px;
    margin:10px;
}

#message{
    height: 140px;
    width: 680px;
}

.i-am-input-area{
    font-size: 16px;
    border-radius:4px;
    border:1px solid rgb(201, 197, 197);
    width: 335px;
    height: 45px;
    
}

.parentOF-we-are-four-input{
    display: flex;
    flex-wrap: wrap;
}

.we-are-four-input, .i-am-input-area:hover{
    border-color: #c31717;
}