:root {
    --color: #000000E0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color);
    font-family: -apple-system, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.i-am-background {
    background-image: url(/images/background/header_background.jpeg);
    height: 100%;
    width: 100%;
    display: flow-root;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


#nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: transparent;
    /* will change on scroll */
    position: fixed;
    /* stays always on top */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    /* always above other content */
    transition: background 0.1s ease;
    height: 65px;
}

#nav.scrolled {
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(14, 14, 14, 0.3);
}

#logo {
    height: 50px;

}

.menu-option {
    display: none;
}


.items {
    width: 18%;
    height: 50px;
    display: flex;
    padding-top: 6px;
    justify-content: space-between;
    font-size: 14px;
}


.options {
    text-decoration: none;
    color: var(--color);
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in;
    

}

.options:hover {
    border-bottom: 2px solid #DC143C;
}

.hero {
    display: flex;
    flex-direction: column;
    max-width: 792px;
    margin: auto;
    text-align: center;
    margin-top: 120px;
}

.first {
    font-size: 30px;
    font-weight: 300;
}

.second {
    font-size: 55px;
    font-weight: 200;
}

.third {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.i-am-button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #c31717;
    color: bisque;
    border: 1px solid #c31717;
    border-radius: 10px;
    margin-bottom: 40px;
    transition: all 0.3s ease-in;
}

.i-am-button:hover {
    background-color: #8a0909;
}

.video-content {
    border: 3px solid rgb(172, 172, 172);
    margin-bottom: 100px;
    height: 35vw;
    width: 60vw;
}

/* <----------------------------------------------------i-am-middle----------------------------------------->*/
.i-am-middle-background {
    background: url(/images/background/how_it_work_background.jpeg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.medium {
    max-width: 1024px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 0;
}

.child-one {
    margin-top: 15%;
    ;
    font-size: 30px;
    font-weight: 300;
}

.child-two {
    font-size: 55px;
    font-weight: 300;
}

.child-three {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.icon-items {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: solid 1px #efefeb;
    height: 90px;
    margin: 30px;

}

.how_it_work_main_image {
    height: 70%;
    width: 95%;
    margin: 50px 0px 50px 0px;

}

.three {
    display: flex;
    justify-content: center;
}

.three-items-one {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 225px;
    background-color: #FFFFFF;
    margin: 20px;
    justify-content: center;
    padding-bottom: 30px;
    border: 1px solid #efefeb;
}

.three-items {
    height: 40%px;
    width: 80%;
    margin: 20px;
}

.three-p {
    font-size: 25px;
    font-weight: 300;
}

.article {
    text-align: left;
    font-size: 1.2vw;
    font-weight: 300;
    line-height: 30px;
}

.article p {
    line-height: 25px;
    margin: 20px;
}

.no-background {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: auto;
    text-align: center;
    margin-top: 150px;
}

.no-background-first {
    font-size: 1.8rem;
    font-weight: 300;
}

.no-background-second {
    font-size: 55px;
    font-weight: 300;
}

.left-right {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
}

.hero-hero3 {
    position: relative;
    margin-right: 500px;
}

.bottom {
    position: absolute;
    width: 455px;
    height: 300px;
}

.top {
    position: absolute;
    margin: 205px 0px 0px 75px;
    width: 315px;
    height: 200px;
}

.right-h2 {
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 15px;
}

.right-h3 {
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 15px;
    display: block;
}

.right-p {
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
}

.hero-right-text {
    margin-left: 100px;
}

.left-content-right-image {
    display: flex;
    max-width: 1000px;
    margin: auto;
}

.i-am-content-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.left-h1 {
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 30px;
}

.left-h2 {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
}

.i-am-content-image-right {
    height: 45vw;
    width: 35vw;
    margin-left: 50px;
    margin-bottom: 70px;
}

.i-am-list-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.i-am-three-images {
    height: 40px;
    width: 40px;

}

.i-am-small-content {
    font-size: 14px;
    font-weight: 300;
}

/*--------------------------------------laptop-screen-and-hand----------------------*/
.laptop-screen-and-hand {
    max-width: 1000px;
    margin: auto;
    display: flex;
}

.why-three-image {
    height: 500px;
    width: 400px;
    margin-right: 150px;
}

.i-am-boss {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}

.i-face-paragrapa {
    display: flex;
    align-items: center;
}

.we-are-four {
    height: 40;
    width: 40px;
}

.laptop-screen-and-hand-h1 {
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 30px;
}

.laptop-screen-and-hand-p {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 30px;
}

.we-are-four-paragraph {
    font-size: 14px;
    font-weight: 300;
}

.features {
    background-image: url(/images/background/feature_background.jpeg);
    height: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flow-root;
}

.features-top {
    margin-top: 50px;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 30px;
}

.features-second {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
}

.features-third {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.inside-features {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-image {
    width: 100%;
    height: auto;
    display: block;
}

.feature-big-wall {
    margin-bottom: 100px;
}

/*--------------------------------------contact-adnepal---------------------------------*/

.i-want-in-center {
    text-align: center;
}

.contact-us {
    max-width: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact-us-h1 {
    font-size: 70px;
    font-weight: 300;
}

.contact-us-p {
    font-size: 25px;
    font-weight: 300;
}

#i-am-first-p,
#i-am-second-p,
#i-am-third-p,
#i-am-fourth-p {
    font-size: 16px;
    margin: 10px;
}

.i-am-input-area {
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgb(201, 197, 197);
    width: 325px;
    height: 40px;
    transition: all 0.3s ease-in;

}

.parentOF-we-are-four-input {
    display: flex;
    flex-wrap: wrap;
}

.we-are-four-input,
.i-am-input-area:hover {
    border-color: #c31717;
}

.i-am-hr {
    border: solid 1px rgb(189, 189, 189);
    opacity: 0.2;
}

.i-am-footer-background {
    background-image: url(/images/footer_background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.i-am-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    height: 300px;
}

.inside-footer-p {
    font-size: 45px;
    font-weight: 300;
    margin-top: 100px;
}

.i-am-second-footer {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}


.child-footer {
    margin: 5px;
    font-weight: 400;
    font-size: 16px;

}

.footer-email {
    margin-top: 100px;
    font-size: 16px;
    font-weight: 300;
}

.i-am-footer-last-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1180px;
    margin: auto;
    height: 50px;
    margin-top: 50px;
}

#left {
    font-weight: 300;
}

#right {
    display: flex;
    flex-direction: row;
}

@media(max-width:900px) {
    .left-right {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .hero-right-text {
        margin-top: 400px;
    }

    .laptop-screen-and-hand,
    .i-am-content-left,
    .left-content-right-image {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .i-am-content-image-right {
        height: 95vw;
        width: 85vw;
        /* margin-left: 70px; */
        margin-bottom: 70px;
        justify-items: center;
    }

    .hero-hero3 {
        display: flex;
        justify-content: center;
        margin-right: 0px;

    }

}

@media(max-width:600px) {

    .first {
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .second {
        font-size: 2rem;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .third {
        font-size: 1.2rem;
        font-weight: 300;
        margin-top: 10px;
    }

    /* .video-content{
        width:100%;
        height:80%;
    } */

    .why-three-image {
        margin-right: 0px;
        height: 90vw;
        width: 90vw;
    }

    .bottom {
        height: 70vw;
        width: 90vw;
    }

    .top {
        height: 40vw;
        width: 70vw;
        margin-right: 100px;
    }

    .laptop-screen-and-hand-left {
        margin-left: 25px;
    }

    .i-am-content-image-right {
        margin-left: 30px;
        height: 100vw;
        width: 80vw;
    }

    .video-content {
        height: 50vw;
        width: 80vw;
    }

    .i-am-footer {
        display: flex;
        flex-direction: column;
    }

    .i-am-first-footer {
        margin-left: 30%;
    }

    .i-am-second-footer {
        text-align: center;
    }

    .i-am-footer-last-parent {
        margin-top: 100px;

    }

    .i-am-third-footer {
        margin-left: 40%;
    }

    .i-am-footer-background {
        width: 100%;
        height: 400px;
    }

    .parentOF-we-are-four-input {
        margin-left: 40px;
    }

    .i-am-input-area {
        font-size: 16px;
    }

    .contact-us-h1 {
        font-size: 2rem;
        font-weight: 400;
    }

    .contact-us-p {
        font-size: 1.3rem;
        font-weight: 300;
    }

    #book-a-demo {
        width: 40%;
        margin-left: 30%;
    }
}